.One{
    color:darkolivegreen;
    background-color: rgb(227, 51, 51,0.7);
}
.Two{
    color: darkslateblue;
    background-color: bisque;
}
h1,h2{
    color: darkgreen;
}
div p {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: justify;
    color: cadetblue;
    background-color: antiquewhite;
}
div h1{
    text-transform: uppercase;
    text-align: left;
    color: black;
    text-decoration:underline;
}
div p.c2{
    /*border-style: dashed;
    border-width: 5px;
    border-top-style: solid;
    border-color: darkgrey;*/
    border: 10px solid cyan;
    border-radius: 20px;
    /*margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;*/
    margin: 100px 150px 100px 80px;
    padding: 30px 50px 80px 50px;
}
a:link{
    color:blue;
}
a:visited{
    color: blueviolet;
}
a:focus{
    color: aquamarine;
}
a:hover{
    color: chocolate;
}